<nav>
    <div class="container-fluid">
        <div class="row" style="justify-content: space-around;">

            <div class="col-5 ">
                <h3 class="nav-link">
                    <%=link_to 'Blog on Rails', "/" %>
                </h3>
            </div>

            <div class="col-5 text-right">
                <h3 class="d-inline-block nav-link">
                    <%=link_to 'Home', "/" %>
                </h3>
                <h3 class="d-inline-block nav-link">
                    <%=link_to 'New Post', new_post_path%>
                </h3>
            </div>
            
            <div class="col-2 text-right">
                <h3 class="d-inline-block nav-link">
                    <% if user_signed_in? %>
                        <%= link_to "Logout", session_path, method: :delete, class: 'btn btn-danger' %>
                        <%= link_to  current_user.full_name, edit_user_path(current_user) %>
                    <% else %>
                        <%= link_to "Log In", new_session_path, class: 'btn btn-success'%>
                    <% end %>
                </h3>
            </div>
            
        </div>
    </div>
</nav>