<h2><%= @post.title %></h2>
<h5><%= @post.body %> </h5>

<p>
    Posted <%= time_ago_in_words(@post.created_at) %> ago by <%= @post.user.first_name%> <%= @post.user.last_name%>
</p>

<% if can? :crud, @post %>
<div>
    <%= link_to(
        "Edit", edit_post_path(@post),
        class: 'btn btn-outline-primary'
    )%>
    <%= link_to(
        "Delete", post_path(@post),
        method: :delete,
        class: 'btn btn-outline-danger',
        data: { confirm: 'Are you sure?' }
    )%>
</div>
<% end %>

<hr />
<h3>Comment</h3>
<%= form_for [@post, @comment] do |f| %>
  <% if @comment.errors.present? %>
    <p>
      <%= @comment.errors.full_messages.join(', ') %>
    </p>
  <% end %>
  <div>
    <%= f.text_area :body, :placeholder => "What's on your mind?", cols: 80, rows: 5 %>
  </div>
  <br>
  <%= f.submit "Submit", class: 'btn btn-outline-primary'%>
<% end %>
<br>
<ul class="list-group answer-list">
  <% @comments.each do |comment| %>
    <li class="list-group-item">
        <p>
            <%= comment.body %><br />
            <small>
            Commented <%= time_ago_in_words(comment.created_at) %> ago by <%= comment.user.first_name%> <%= comment.user.last_name%>
            </small>  
            <% if can? :crud, comment %>
            <small>&nbsp &#8226</small>
            <small>
            <%= link_to(
                "Delete",
                post_comment_path(@post, comment),
                method: :delete, 
                data: {
                confirm: "Are you sure?"
                },
                class: 'btn btn-link',
            ) %>
            </small>
            <% end %>
        </p>
    </li>
  <% end %>
</ul>
</div>